#id1 {
  color: red;
}

.class1 {
  color: red;
}

.div1 {
  background-image: url(../img/simpsons.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-color: #f0f500;
}

.div2 {
  background-color: rgb(124, 0, 128);
}

/*unidades absolutas ou fixas*/

#cm {
  background-color: blue;
  width: 1cm;
  height: 1cm;
}

#mm {
  background-color: red;
  width: 1mm;
  height: 1mm;
}

#in {
  background-color: green;
  width: 1in;
  height: 1in;
}

#pixel {
  background-color: purple;
  width: 10px;
  height: 10px;
}

#pt {
  background-color: yellow;
  width: 10pt;
  height: 10pt;
}

#pc {
  background-color: darkcyan;
  width: 1pc;
  height: 1pc;
}

html {
  font-size: 20px;
}

.container {
  width: 80%;
  background-color: red;
}

.inside {
  width: 80%;
  background-color: blue;
}

/*unidades de medidas relativas*/

/*em = equivalente em relação à fonte do container ao qual está incluido */
/*rem = refere-se ao tamanho da fonte do elemento raiz -exemplo em relação ao html */
/*vw = dimensao da largura da janela*/
/* % = porcentagem indica a dimensão em relação ao elemento pai*/

#base {
  height: 10px;
  background-color: red;
}

#container1 {
  background-color: blue;
  color: white;
  padding-top: 10px;
}

/*
margin= distanciamento do elemento para fora dele
padding=distanciamento do elemento em relação ao seu conteudo ou seja 
ao seu conteúdo interno
*/

.borda {
  border-width: 5px 2px 10px 15px;
  border-color: red green blue yellow;
  border-radius: 5px;
}

.borda1 {
  border: 5px dashed blue;
}

.quadrado {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}

.solid {
  border-style: solid;
}

.none {
  border-style: none;
}

.hidden {
  border-style: hidden;
}